apiVersion: v1alpha1
kind: AgentConfig
metadata:
  name: {{ sno_cluster_name }}
rendezvousIP: {{ sno_ip_addr }}
hosts: 
  - hostname: node
    interfaces:
      - name: {{ sno_net_interface }}
        macAddress: {{ sno_mac_addr }}
    rootDeviceHints: 
      deviceName: {{ sno_root_device }}
