apiVersion: v1
baseDomain: {{ sno_base_domain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 1
metadata:
  name: {{ sno_cluster_name }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ sno_machine_prefix }}/{{ sno_machine_cidr_length }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  none: {}
bootstrapInPlace:
  installationDisk: /dev/vda
pullSecret: |
  {{ sno_pull_secret | replace("'","\"") }}
sshKey: |
  {{ sno_ssh_key }}
